div.svelte-1xmt1nv{background-color:gray;border:2px solid black;border-radius:5px;box-shadow:0 4px 8px #0003,0 6px 20px #00000030;color:#000;font-size:140%;margin:20px;padding:20px;text-align:center}
